<domain type="kvm">
  <name>ubuntu</name>
  <uuid>b3cca077-4e9f-4a9d-af69-bb17437ed6cd</uuid>
  <memory unit="MiB">2048</memory>
  <currentMemory unit="MiB">2048</currentMemory>
  <vcpu placement="static">2</vcpu>
  <os>
    <type arch="x86_64" machine="pc">hvm</type>
    <boot dev="cdrom"></boot>
    <boot dev="hd"></boot>
  </os>
  <features>
    <acpi></acpi>
  </features>
  <cpu mode="host-passthrough" check="none" migratable="on"></cpu>
  <clock offset="utc"></clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>destroy</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2" discard="unmap"></driver>
      <source file="/var/lib/libvirt/images/debian-12-genericcloud-amd64.qcow2" index="1"></source>
      <target dev="vda" bus="virtio"></target>
    </disk>
    <interface type="network">
      <mac address="52:54:00:b7:a5:c2"></mac>
      <source network="default" bridge="virbr0"></source>
      <model type="virtio"></model>
    </interface>
    <graphics type="vnc" port="-1" listen="0.0.0.0"></graphics>
  </devices>
</domain>